.main-holder {
	max-width: 788px;
	margin: -36% auto 0;
	padding: 0 15px 0;
	width: 100%;
	position: relative;

	@include media('>=tablet') {
		padding: 15px 15px 0;
		margin: auto;
	}

	@media (max-height: 720px) {
		transform: scale(0.6);
		transition: all .3s ease-in-out;
	}

	@media (max-height: 440px) {
		transform: scale(0.4);
		margin: -10% auto 0;
	}
}

a.terms {
	color: $color;
	text-decoration: underline;
	font-size: 14px;

	&:hover {
		text-decoration: none;
	}

	@include media('>=tablet') {
		font-size: 20px;
	}

	@media (max-height: 440px) {
		font-size: 14px;
	}
}

.airplane-holder {
	width: 100%;
	bottom: 0;
	padding: 0 88px 0 0;

	@include media('>=tablet') {
		margin: -120px 0 0;
		padding: 0 200px;
	}

	@media (max-height: 700px) {
		margin: -100px 0 0;
	}
}

.airplane-box {
	max-width: 1232px;
	width: 100%;
	margin: 0;
	position: relative;

	@include media('>=tablet') {
		margin: auto;
	}
}

.airplane {
	width: 96px;
	height: 50px;
	position: absolute;
	bottom: 100%;
	left: 98%;
	background-image: url('./assets/img/airplane.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	animation: flight 4s cubic-bezier(0, 0, 0, 0);

	@include media('>=tablet') {
		width: 194px;
		height: 100px;
	}
}

@keyframes flight {
	0% {
		left: 0;
		bottom: 6%;
	}

	6% {
		left: 6%;
		bottom: 7%;
		transform: rotate(-1deg);
	}

	14% {
		left: 14%;
		bottom: 10%;
		transform: rotate(-2deg);
	}

	24% {
		left: 24%;
		bottom: 16%;
		transform: rotate(-6deg);
	}

	32% {
		left: 32%;
		bottom: 22%;
		transform: rotate(-8deg);
	}

	40% {
		left: 40%;
		bottom: 29%;
		transform: rotate(-11deg);
	}

	47% {
		left: 47%;
		bottom: 36%;
		transform: rotate(-14deg);

	}

	53% {
		left: 53%;
		bottom: 44%;
		transform: rotate(-16deg);
	}

	59% {
		left: 59%;
		bottom: 52%;
		transform: rotate(-18deg);
	}

	65% {
		left: 65%;
		bottom: 60%;
		transform: rotate(-20deg);
	}

	70% {
		left: 70%;
		bottom: 68%;
		transform: rotate(-21deg);
	}

	75% {
		left: 75%;
		bottom: 75%;
		transform: rotate(-22deg);
	}

	78% {
		left: 78%;
		bottom: 81%;
		transform: rotate(-22deg);
	}

	80% {
		left: 80%;
		bottom: 84%;
		transform: rotate(-23deg);
	}

	83% {
		left: 83%;
		bottom: 90%;
		transform: rotate(-23deg);
	}

	85% {
		left: 85%;
		bottom: 95%;
		transform: rotate(-24deg);
	}

	90% {
		left: 90%;
		bottom: 100%;
		transform: rotate(-24deg);
	}

	95% {
		left: 95%;
		bottom: 102%;
		transform: rotate(-12deg);
	}

	100% {
		left: 98%;
		bottom: 102%;
		transform: rotate(-7deg);
	}
}

/* bonus styles */
.bonus {
	.main-holder {
		max-width: 100%;
		padding: 0 15px;
		color: #75f79d;
		z-index: 1;
		margin: 0;
		height: 100%;

		@media (max-height: 720px) {
			transform: scale(1);
		}

		@include media('>=tablet') {
			height: 100%;
		}

		@include media('>=1460px') {
			padding: 0 15px;
		}

		@include media('>=1680px') {
			padding: 0 6.5%;
		}

		@media (max-height: 440px) {
			margin: 0;
		}
	}

	.main-content {
		max-width: 1000px;
		display: flex;
		flex-direction: column;
		align-items: center;
		animation: fadeLeft 1s;
		text-align: center;
		height: 100%;
		justify-content: space-between;

		@include media('>=tablet') {
			align-items: flex-start;
			text-align: left;
		}
	}

	h1 {
		font-size: 18px;
		color: #75f79d;
		margin: 0;
		padding: 0;
		text-shadow: 1px 1px $black;
		text-align: center;

		@include media('>=tablet') {
			font-size: 35px;
			text-align: left;
			max-width: 50%;
			margin-top: 25px;
		}

		@include media('>=992px') {
			font-size: 40px;
		}

		@include media('>=1024px') {}

		@include media('>=1500px') {
			padding: 0;
			font-size: 72px;
			max-width: 100%;
			margin-top: 0;
		}

		@media (max-height: 720px) and (max-width:768px) {
			font-size: 18px;
		}

	}

	.sub-title {
		font-size: 18px;
		text-shadow: 1px 1px $black;
		margin-bottom: 10px;
		display: block;

		strong {
			font-size: 20px;
		}

		@include media('>=tablet') {
			margin-bottom: 40px;
			margin-top: 12px;
			font-size: 22px;

			strong {
				font-size: 32px;
			}
		}
	}

	.promo-list {
		display: flex;
		font-size: 16px;
		line-height: 24px;

		@include media('>=tablet') {
			font-size: 22px;

		}
	}

	.promo-list li {
		padding: 0 10px;
		border-left: 2px solid #73f89b;

		&:first-child {
			padding-left: 0;
			border: none;
		}

		&:before {
			display: none;
		}

		a {
			color: #73f89b;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.btn-bonus {
		background: #73f89b;
		color: #070f0c;
		font-weight: 800;
		font-size: 24px;
		border-radius: 40px;
		margin-bottom: 20px;
		text-transform: uppercase;
		animation: pulse-2 1s infinite cubic-bezier(.6, 0, 0, 1);

		&:hover {
			opacity: .8;
		}

		@include media('>=tablet') {
			padding: 20px 56px;
			margin-bottom: 90px;
			font-size: 48px;
			border-radius: 50px;
		}
	}

	.chip-holder {
		overflow: hidden;
		position: absolute;
		height: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;

	}
}

.chip {
	position: absolute;
	right: 0;
	width: 50%;
	height: 50%;
	right: 50%;
	margin-right: -25%;
	bottom: 0;

	@include media('>=tablet') {
		right: 0;
		width: 54%;
		height: 83%;
		bottom: 0;
		margin-right: 0;
	}

	@include media('>=992px') {
		right: -100px;
	}

	@include media('>=1200px') {
		height: 83%;
	}

	@include media('>=1500px') {
		height: 90%;
	}

	img {
		@media (max-height: 720px) {
			// max-width: 100px;
		}

		@include media('<=1400px') {
			// max-width: 100px;
		}

		@include media('<=768px') {
			// max-width: 50px;
		}

	}
}

.chip_1 {
	animation: rotating 20s ease-in-out infinite forwards;
}

@keyframes rotating {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(5deg);
	}

	100% {
		transform: rotate(0);
	}
}

@keyframes infinite_scale {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2)
	}

	100% {
		transform: scale(1);
	}
}

@keyframes motionRight {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(20px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes motionLeft {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-20px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes motionTopLeft {
	0% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(-30px, -30px);
	}

	100% {
		transform: translateX(0, 0);
	}
}


html[lang="hi"] [data-locale="promocod"] {
	display: none;
}

@keyframes pulse-2 {
	0% {
		box-shadow: 0 0 0 1px rgba(115, 248, 155, 1);
	}

	100% {
		box-shadow: 0 0 0 22px rgba(115, 248, 155, 0);
	}
}

@keyframes pulse-3 {
	0% {
		box-shadow: 0 0 0 1px rgba(255, 123, 1, 1);
	}

	100% {
		box-shadow: 0 0 0 22px rgba(255, 123, 1, 0);
	}
}

@keyframes pulse-4 {
	0% {
		box-shadow: 0 0 0 1px rgba(250, 1, 27, 1);
	}

	100% {
		box-shadow: 0 0 0 22px rgba(250, 1, 27, 0);
	}
}

@keyframes pulse-5 {
	0% {
		box-shadow: 0 0 0 1px rgba(255, 255, 9, 1);
	}

	100% {
		box-shadow: 0 0 0 22px rgba(255, 255, 9, 0);
	}
}

@keyframes pulse-6 {
	0% {
		box-shadow: 0 0 0 1px rgba(211, 0, 252, 1);
	}

	100% {
		box-shadow: 0 0 0 22px rgba(211, 0, 252, 0);
	}
}

@keyframes fadeLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.roullete {
	position: absolute;
	right: 50%;
	bottom: 36%;
	width: 50%;
	display: flex;
	justify-content: center;
	transform: translate(50%, 50%);

	.img-holder {
		// width: 100%;
	}

	@include media('>=tablet') {
		top: 20%;
		right: 0;
		bottom: auto;
		transform: translate(0);
	}

	@include media('>=1024px') {
		top: auto;
		width: 50%;
		bottom: 44%;
		transform: translate(0, 50%);
	}
}

.bonus-2 {
	.main-holder {
		display: flex;
		flex-direction: column;
		max-width: 1680px;
		padding: 0 15px;
		margin: auto;
	}

	.person,
	.main-content {
		width: 100%;
	}

	.main-content {
		justify-content: center;
	}

	.person {
		display: flex;
		justify-content: center;
	}

	.img-holder {
		max-width: 188px;

		img {
			animation: motionPerson 20s ease-in-out infinite forwards;
		}

		@include media('>=640px') {
			max-width: 240px;
		}

		@include media('>=900px') {
			max-width: 400px;
		}

		@include media('>=1500px') {
			max-width: 460px;
		}
	}

	@include media('>=900px') {
		.main-holder {
			flex-direction: row;
			justify-content: center;
		}

		.person,
		.main-content {
			width: 50%;
		}

		.person {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			overflow: hidden;
			padding-top: 40px;
		}

		.main-content {
			justify-content: center;
		}
	}



	.btn-bonus {
		margin: 0 0 20px;

		@include media('>=tablet') {
			padding: 16px 46px;
		}
	}

	h1 {
		margin: 0 0 29px;
		font-size: 22px;
		line-height: 1.7;

		span {
			display: block;
			font-size: 16px;
		}

		@include media('>=tablet') {
			max-width: 100%;
			margin: 0 0 40px;
			font-size: 52px;
			line-height: 2.2;

			span {
				font-size: 34px;
				margin-top: 10px;
			}
		}

		@include media('>=900px') {
			max-width: 100%;
			margin: 0 0 58px;
			font-size: 62px;

			span {
				font-size: 40px;
				margin-top: 20px;
			}
		}

		@include media('>=1500px') {
			max-width: 100%;
			margin: 0 0 58px;
			font-size: 72px;

			span {
				font-size: 50px;
				margin-top: 20px;
				display: block;
			}

		}
	}
}

@keyframes motionPerson {
	0% {
		transform: translateX(0) scale(1);
	}

	50% {
		transform: translateX(-40px) scale(1.1);
	}

	100% {
		transform: translateX(0) scale(1);
	}
}

.live-casino {
	.main-holder {
		display: flex;
		flex-direction: column;

		@include media('>=tablet') {
			flex-direction: row-reverse;
		}
	}

	.main-content {
		width: 100%;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
		animation: fadeRight 1s;

		.img-holder {
			padding: 10px 60px 24px;
		}

		@include media('>=tablet') {
			width: 50%;
			padding: 0 15px 0 30px;

			.img-holder {
				padding: 24px;
			}
		}
	}

	.chip-holder {
		position: static;
		width: 100%;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: visible;
		animation: fadeLeft 1s;

		@include media('>=tablet') {
			width: 50%;
			display: flex;
			align-items: center;
			padding: 0 15px;
		}
	}

	h1 {
		max-width: 100%;
		color: $white;
		text-align: center;
		font-size: 22px;
		margin: 0 0 25px;

		@include media('>=tablet') {
			font-size: 24px;
			margin: 0 0 50px;
		}

		@include media('>=992px') {
			font-size: 40px;
		}
	}

	.btn-bonus {
		font-size: 20px;
		text-transform: capitalize;
		margin: 0 0 30px;
		padding: 14px 24px;

		@include media('>=tablet') {
			margin: 0 0 60px;
			padding: 20px 56px;
		}

		@include media('>=992px') {
			font-size: 30px;
		}
	}

	.cards {
		.img-holder {
			margin: auto;

			img {
				animation: motionRight 10s infinite;
			}

			@include media('>=tablet') {
				max-width: 100%;
			}

			@include media('<390px') {
				max-width: 150px;
				margin: auto;
			}
		}
	}
}

.baccarat {
	.container {
		max-width: 1780px;
	}

	.main-holder {
		max-width: 1780px;
	}

	h1 {
		font-size: 38px;
		text-transform: uppercase;
		color: $white;
		margin: 0 0 20px;
		line-height: 1.4;
		font-weight: 800;

		&.online_title {
			letter-spacing: 7px;

			.light {
				letter-spacing: 4px;
			}
		}

		.light {
			font-weight: 300;
			font-size: 38px;
		}

		@include media('>=tablet') {
			font-size: 72px;
			margin: 0 0 60px;
			line-height: 1.2;

			&.online_title {
				letter-spacing: 10px;

				.light {
					letter-spacing: 0;
				}
			}

			.light {
				font-size: 72px;
			}
		}

		@include media('>=1420px') {
			font-size: 110px;

			.light {
				font-size: 110px;
			}
		}

		@include media('>=1780px') {
			font-size: 150px;

			.light {
				font-size: 150px;
			}
		}
	}

	.btn-bonus {
		margin: 0 0 30px;

		@include media('>=tablet') {
			margin: 0 0 60px;
		}
	}

	.promo-list {

		li {
			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.card-box {
		align-items: center;
		padding: 0 15px 20px;
		width: 100%;
		justify-content: center;
		display: flex;
		animation: fadeRight 1s;

		.img-holder {
			max-width: 700px;

			img {
				animation: motionLeft 10s ease-in-out infinite forwards;
			}

			@include media('<390px') {
				max-width: 150px;
			}
		}


		@include media('>=tablet') {
			width: 50%;
			padding: 0 15px;
		}

		@include media('>=992px') {
			margin: -130px 0 0;
		}

	}

	.main-content {
		padding: 0 15px;
	}
}

.scarab-boost,
.gems-respin,
.sun-of-egypt,
.cricket-mania {
	.btn-bonus {
		background: #ff7b01;
		color: $white;
		font-weight: 700;
		font-size: 20px;
		border-radius: 40px;
		margin-bottom: 20px;
		text-transform: uppercase;
		animation: pulse-3 1s infinite cubic-bezier(.6, 0, 0, 1);

		&:hover {
			opacity: .8;
		}

		@include media('>=tablet') {
			padding: 20px 56px;
			margin-bottom: 90px;
			font-size: 32px;
			border-radius: 50px;
		}
	}

	.main-holder {
		max-width: 1000px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		transform: scale(1);
		height: 100%;
		padding: 44px 0 0;

		@include media('>=tablet') {
			padding: 0;
		}
	}
}

.sun-of-egypt {
	.main-holder {
		padding: 0 0 30px;
	}

	.btn-bonus {
		background: #fa011b;
		animation: pulse-4 1s infinite cubic-bezier(.6, 0, 0, 1);
		margin: 0;
	}

	.img-holder {
		@include media('>=tablet') {
			margin: -70px 0 -80px;
			padding: 0 122px;
		}

		@include media('>=992px') {
			margin: -140px 0 -80px;
			padding: 0 122px;
		}
	}
}

.fury {
	.main-holder {
		max-width: 1760px;
		margin: 0 auto;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		transform: scale(1);

		@include media('>=tablet') {
			padding-top: 28px;
			justify-content: space-between;
		}
	}

	.logo-holder {
		@include media('>=tablet') {
			max-width: 64%;
		}
	}

	.btn-holder {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include media('>=tablet') {
			flex-direction: row;
			align-items: flex-start;

		}

		@include media('>=1200px') {
			padding-left: 120px;
		}

		.register-btn {
			font-size: 28px;
			padding: 16px 37px;
			min-width: 320px;
			height: 62px;
			text-transform: uppercase;
			color: rgb(255, 211, 25);
			line-height: 1;
			animation: textShadow 5s infinite;
			text-decoration: none;
			font-weight: 900;
			position: relative;
			margin-bottom: 20px;

			&:before {
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				background-image: url('./assets/img/btn_bg.png');
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
				animation: buttonColor 5s infinite;
				z-index: -1;
				background-size: contain;
			}

			@include media('>=tablet') {
				margin-top: 40px;
			}

			@include media('>=960px') {
				font-size: 54px;
				padding: 32px 36px;
				min-width: 652px;
				height: 125px;
				margin-top: 20px;
			}
		}
	}

	.small-col {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include media('>=tablet') {
			margin: 0 0 0 85px;
		}

		.buy-bonus {
			font-size: 18px;
			animation: textShadow 5s infinite;
			width: 110px;
			height: 110px;
			color: rgb(255, 211, 25);
			display: flex;
			text-decoration: none;
			text-transform: uppercase;
			align-items: center;
			justify-content: center;
			font-weight: 900;
			position: relative;
			line-height: 1;
			padding: 0 0 10px;
			margin: 0 0 10px;

			&:after {
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				animation: buttonColor 5s infinite;
				background-image: url('./assets/img/btn_buy_bg.png');
				background-repeat: no-repeat;
				background-size: contain;
				z-index: -1;
			}

			@include media('>=tablet') {
				width: 154px;
				height: 154px;
				font-size: 24px;
				margin: 0 0 20px;
			}
		}

		.promotions {
			color: #ffd319;
			font-size: 18px;
			margin: 0 0 20px;

			@include media('>=tablet') {
				font-size: 22px;
			}
		}
	}
}

@keyframes textShadow {
	0% {
		text-shadow: 0px 0px 14.88px rgba(16, 26, 29, 0.79);
	}

	50% {
		text-shadow: 0px 0px 14.88px rgba(255, 211, 25, 0.5);

	}

	100% {
		text-shadow: 0px 0px 14.88px rgba(16, 26, 29, 0.79);
	}
}

@keyframes buttonColor {
	0% {
		filter: brightness(1) contrast(100%) drop-shadow(0);
	}

	50% {
		filter: brightness(1.5) contrast(180%) drop-shadow(0 0 20px rgb(255, 211, 25));
	}

	100% {
		filter: brightness(1) contrast(100%) drop-shadow(0);

	}
}


:root {
	--fireColor1: #ea7e1a;
	--fireColor2: rgba(255, 80, 0, 0);
	--fireDuration: 1s;
	--blur: 0.2px;
	--fireSize: 70px;
}

#fire-container {
	font-size: 10px;
	filter: blur(var(--blur));
	-webkit-filter: blur(var(--blur));
	position: relative;
	width: 6em;
	height: 7em;
	transform: translateY(30px);
	position: absolute;
	left: -1px;


	@include media('>=tablet') {
		transform: translateY(55px);
		font-size: 24px;
		width: 8em;
		height: 12em;
		left: auto;
		position: relative;
	}

	@include media('>=1024px') {
		transform: translateY(0);
	}
}

#fire-container .particle {
	animation: rise var(--fireDuration) ease-in infinite;
	background-image: radial-gradient(var(--fireColor1) 30%, var(--fireColor2) 70%);
	border-radius: 50%;
	mix-blend-mode: screen;
	opacity: 0;
	position: absolute;
	bottom: 0;
	width: var(--fireSize);
	height: var(--fireSize);
}

@keyframes rise {
	from {
		opacity: 0;
		transform: translateY(0) scale(1);
	}

	25% {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translateY(-10em) scale(0);
	}
}

.gems-respin {
	.main-holder {
		transform: scale(1);
		padding: 0 15px;

		.img-holder {
			margin: 0 0 24px;
			max-width: 650px;

			@include media('>=1024px') {
				margin: -60px 0 50px;
			}
		}
	}

	.btn-bonus {
		color: #170103;
		background: #fbfb09;
		animation: pulse-5 1s infinite cubic-bezier(.6, 0, 0, 1);
		font-weight: 900;
		font-size: 20px;

		@include media('>=1024px') {
			font-size: 38px;
			margin: 0 0 70px;
		}
	}
}

.scarab-boost {
	.main-holder {
		transform: scale(1);
		padding: 0 15px;

		.img-holder {
			margin: 0 0 24px;
			max-width: 690px;

			@include media('>=1024px') {
				margin: -100px 0 0;
			}
		}
	}

	.btn-bonus {
		color: #070626;
		background: #d300fc;
		animation: pulse-6 1s infinite cubic-bezier(.6, 0, 0, 1);
		font-weight: 900;
		font-size: 20px;

		@include media('>=1024px') {
			font-size: 38px;
			margin: 0 0 30px;
		}
	}
}