///fonts///
$font-primary: 'Montserrat';
$font-size: 20px;
$section-title: 32px;
$line-height: 1.5;
$color: #021909;
$font-weight: 400;


///colors///
$white: #fff;
$black: #000;
$red: #e40539;
$green: #22553d;
$green-light: #73f89b;

$primary-color: #FF7E00;
$secondary-color: #33535F;
$tertiary-color: #00A39C;

